@import "tailwindcss";



.black-overlay{
    background-color: rgb(0, 0, 0,0.7);
}
.text-size{
    font-size: 25px;
}

.custom-text {
  font-family: Calibri, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

#tasklist::-webkit-scrollbar{
    display: none;
}
.no-scroll {
  overflow: hidden;
}
.number-text {
  font-family: Calibri, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-weight: bold
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.animate-slide-up {
  animation: slide-up 0.4s ease-out;
}
.filterBtn{
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 40px;
  box-shadow: 1px 1px rgb(216, 215, 215);
}

.filterBtn i{
  display: block;
}
.active{
   border: 1px solid rgba(2, 6, 12, 0.75);
   background-color: rgb(220, 220, 230);
}
.active span{
  display: block;
}