@import "tailwindcss";



.black-overlay{
    background-color: rgb(0, 0, 0,0.7);
}
.text-size{
    font-size: 25px;
}

.custom-text {
  font-family: Calibri, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

#tasklist::-webkit-scrollbar{
    display: none;
}
.no-scroll {
  overflow: hidden;
}
.number-text {
  font-family: Calibri, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-weight: bold
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.animate-slide-up {
  animation: slide-up 0.4s ease-out;
}
.filterBtn{
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 40px;
  box-shadow: 
      0 3px 6px rgba(0,0,0,0.16),
      0 8px 20px rgba(0,0,0,0.10);
}

.filterBtn i{
  display: block;
}
.active{
   color: aliceblue;
   font-weight: 600;
   background-color: #3e4152;
}
.active span{
  display: block;
}
.loader {
  position: relative;
  width: 80px;
  height: 80px;
}

.loader:before , .loader:after{
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 4px 0 #fff inset;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {  transform: rotate(0)}
  100% { transform: rotate(360deg)}
}

.animate {
  animation-name: shimmer;
  background-image: linear-gradient(to right, #f2efef, #fcfcfc, #fafafa, #f7f7f7, #f5f5f5, #f2f2f2, #f0f0f0, #ededed, #e9e9e9, #e5e5e5, #e2e2e2, #dedede);
  animation-duration: 3s;
  animation-direction: normal;   
  animation-timing-function: linear;  
  animation-iteration-count: infinite;
  background-size: 1000px 100%;
  animation-direction: reverse;
 
}

@keyframes shimmer {
  0% {
    background-position: 1000px 0;
  }
  100% {
    background-position: -1000px 0;
  }
}

